/* Global CSS styles */
:root {
    font-size: 1rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    //--firstHalf: #262c36;
    //--secondHalf: #FFFBEB;
    --firstHalf: rgb(235, 235, 235);
    --secondHalf: #262c36;
}

.text-center {
    text-align: center !important;
}

.hidden {
    display: none !important;
}

/* Single line truncate */
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Multi line truncate */
.multi-truncate {
    line-height: 2rem;
    max-height: 4rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

/* ---- Styles ---- */

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    font-family: 'Kanit', sans-serif;
    background-color: var(--secondHalf);
}

.header {
    text-align: center;
    padding: .5rem;
    z-index: 100;
    display: flex;
    justify-content: center;
    position: absolute;
    width: fit-content;
    left: 0;
    right: 0;
    margin: 0 auto;
    letter-spacing: 5px;
    font-family: 'Playfair Display', serif;
    background-color: var(--firstHalf);

    .header__title {
        font-size: 3rem;

        @media screen and (max-width: 800px) {
            font-size: 2.5rem;
        }
    }
}

.morse {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--firstHalf);
    height: 515px;
    padding-top: 5.5rem;

    &__side {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
        margin-bottom: 1rem;

        &-btn {
            background-color: white;
            color: var(--secondHalf);
            left: .5rem
        }
    }

    &__title {
        font-size: 2rem;
        font-weight: lighter;
        letter-spacing: -1px;
        margin-bottom: .75rem;
        text-align: center;
        color: var(--secondHalf);
        display: flex;

        @media screen and (max-width: 800px) {
            font-size: 1.75rem;
        }

        button {
            padding: .25rem;
            margin: 0 .5rem;
            font-size: 2rem;
            height: fit-content;
            border-radius: .75rem;
            background-color: rgb(177, 235, 133);
            color: white;
            text-shadow: 0px 0px 2px rgb(154, 160, 138);
            border: none;
            box-shadow: -3px 3px 1px black;
            cursor: pointer;

            @media screen and (max-width: 800px) {
                font-size: 1.75rem;
            }
        }

        button::after {
            content: "English";
        }

        button.morse::after {
            content: "Morse Code"
        }

        button:active {
            transform: scale(.95);
            cursor: pointer;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        @media screen and (max-width: 800px) {
            height: 100%;
            width: 100%;
            padding: 0 2rem;
        }

        &-input {
            resize: none;
            height: 12.5rem;
            width: 40rem;
            padding: .5rem;
            border: none;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1),
                0px 2px 4px rgba(0, 0, 0, 0.1),
                0px 4px 8px rgba(0, 0, 0, 0.1),
                0px 8px 16px rgba(0, 0, 0, 0.1);

            @media screen and (max-width: 800px) {
                width: 100%;
                height: 70%;
            }
        }

        &-input:focus {
            outline: none;
            box-shadow:
                0px 1px 2px rgba(0, 0, 0, 0.15),
                0px 2px 4px rgba(0, 0, 0, 0.15),
                0px 4px 8px rgba(0, 0, 0, 0.15),
                0px 8px 16px rgba(0, 0, 0, 0.15);
        }

        &-buttons {
            padding-top: 1rem;
            display: flex;
            justify-content: center;
            column-gap: 1rem;

            &-submit,
            &-clear {
                background-color: var(--secondHalf);
                color: rgb(230, 230, 230);
            }
        }

    }

}

.output {
    background-color: var(--secondHalf);
    height: 422px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;

    @media screen and (max-width: 800px) {
        width: 100%;
        padding: 0 2rem;
    }

    &__title {
        font-size: 2.5rem;
        margin-bottom: .5rem;
        font-weight: lighter;
        letter-spacing: -1px;
        color: var(--firstHalf);

        @media screen and (max-width: 800px) {
            font-size: 1.75rem;
        }
    }

    &__area {
        resize: none;
        height: 12.5rem;
        width: 40rem;
        padding: .5rem;
        border: none;
        box-shadow:
            0px 1px 2px rgba(0, 0, 0, 0.1),
            0px 2px 4px rgba(0, 0, 0, 0.1),
            0px 4px 8px rgba(0, 0, 0, 0.1),
            0px 8px 16px rgba(0, 0, 0, 0.1);

        @media screen and (max-width: 800px) {
            width: 100%;
            height: 50%;
        }
    }

    &__area:focus {
        outline: none;
        box-shadow:
            0px 1px 2px rgba(0, 0, 0, 0.15),
            0px 2px 4px rgba(0, 0, 0, 0.15),
            0px 4px 8px rgba(0, 0, 0, 0.15),
            0px 8px 16px rgba(0, 0, 0, 0.15);
    }
}

.btn {
    font-size: .9rem;
    border: none;
    box-shadow: -3px 3px 1px rgb(5, 5, 5);
    position: relative;
    padding: .35rem .65rem;
}

.btn:hover {
    cursor: pointer;
    filter: brightness(.95);
}

.btn:active {
    transform: scale(.975);
}

.alphabet {
    position: absolute;
    top: 0;
    height: 100vh;
    background-color: var(--firstHalf);
    padding: 1rem;
    overflow-y: scroll;
    left: -400px;
    transition: all .45s ease;
    z-index: 110;

    table {
        border: 1px solid var(--secondHalf);
        margin-bottom: 2rem;
    }

    td {
        font-size: 1rem;
        text-align: center;
        border: 1px solid var(--secondHalf);
        padding: .25rem .5rem;
    }
}

.alphabet.active {
    left: 0;
}

.blackout.active {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .9;
    z-index: 100;
    position: absolute;
    top: 0;
    transition: all .25s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: none;
}

.modal.active {
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 101;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    @media screen and (max-width: 800px) {
        padding: 0 1rem;
        text-align: center;
    }


    h1,
    a {
        text-shadow:
            0px 16px 3rem white,
            0px 16px 2rem white,
            0px 0px 5rem white,
            0px 0px 4rem white,
            0px 0px 3rem white,
            0px 0px 2rem white,
            0px 0px 16px white;
        color: black;
    }

    a {
        position: relative;
        color: darkred;
    }

    a:active {
        transform: scale(.975);
    }
}

.cell {
    background-color: rgb(215, 220, 220);
}